
@{
    ViewBag.Title = "Dilano's Biography";
}
<style>
    img {
        background-size: contain;
    }
</style>

<h1>The Biography Of Dilano Adams</h1>

<h3 class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator - Information Technician</h3>

<div class="container" style="background-color:aquamarine">
    <h2 class="page-section-heading text-center text-uppercase text-white">Biography</h2>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div class="col-lg-4 ms-auto"><p class="lead">My name is Dilano Adams and I am an upcoming coding star. I grew up in a town in Johannesburg named Midrand. I am 21 Years of age as of 2022. I will ensure that I complete my degree in record time at the University of Pretoria. Working with code has shown me many avenues of greatness and success. It is not long until I unlock the secrets of the universe and be the ruler of this puney world.</p></div>
        <div class="col-lg-4 me-auto"><p class="lead">My largest inspiration in my life are my loving parents that push me on to strive for the best man I can be. Their contributions to my life has seen many doors open wide, and with opportunities ripe for the taking. The quote that has made the biggest impact is one from an anonymous writer: <i>Perfection is not attainable, but if we chase perfection we can catch excellence.</i></p></div>
        <img class="col-lg-4 ms-auto" src="~/Media/Myself/Me.jpg" alt="Picture of Me" />
    </div>
</div>

