@{
    ViewBag.Title = "Home Page";
}

<h1>This is Heading one</h1>

<h3>This is second heading</h3>

<div>
    <div>
        <h2>Description</h2>
        <p>THIS IS WHERE THE DESCRIPTION GOES!</p>
        <div>
            <h2>Options</h2>
            <input type="radio" id="docs" name="rad_docs" value="Document">
            <input type="radio" id="img" name="rad_img" value="Image">
            <input type="radio" id="vid" name="rad_vid" value="Video">

            <input type="file" id="myfile" name="myfile" multiple><br><br>
            <input type="submit">
        </div>
    </div>
</div>