@model List<HttpPostedFileBaseModelBinder>
@{
    ViewBag.Title = "Home Page";
}

<style>
    * {
        box-sizing: border-box;
    }
    .container{
        word-wrap:break-word;
        overflow:hidden
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1 class="text-uppercase mb-0">Document, Image and Videos Viewer</h1>

<h3>Description and Option Selector</h3>

<div class="container d-flex align-items-center flex-column" style="background-color:khaki">
    <div class="row">
        <div class="column">
            <h2>Description</h2>
            <p>The objective of this project is to be able to show all files in respective folders and be able to download all the files as well. This is the homepage which allows you to select the type of file you would like to add. There are three choices Files, Image and Videos, once on has been selected you will be able to upload a file to be read and displayed in its corresponding folder. The next tab is the About Me page which gives a short description of me. The next three tabs are the designated file folders that will allow you to view the respective files as well as download them back into your system.</p>
        </div>

        <div class="column">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <form>
                    <h2>Option Selector</h2>
                    <input type="radio" id="docs" name="btnchoice" value="Document">
                    <label for="docs">Documents</label><br>
                    <input type="radio" id="img" name="btnchoice" value="Image">
                    <label for="img">Images</label><br>
                    <input type="radio" id="vid" name="btnchoice" value="Video">
                    <label for="vid">Videos</label><br>

                    <input type="file" id="myfile" name="myfile" multiple> <br> <br>
                    <input type="submit">
                </form>
            }
            <p>@ViewBag.Status</p>
        </div>
    </div>
</div>
