@model List<HttpPostedFileBaseModelBinder>
@{
    ViewBag.Title = "Home Page";
}

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1 class="text-uppercase mb-0">Document, Image and Vidoes Viewer</h1>

<h3>This is the description of the application</h3>

<div class="container d-flex align-items-center flex-column" style="background-color:khaki">
    <div class="row">
        <div class="column">
            <h2> Description</h2>
            <p> THIS IS WHERE THE DESCRIPTION GOES!</p>
        </div>
        <div class="column">
            <form>
                <h2>Option Selector</h2>
                <input type="radio" id="docs" name="rad_docs" value="Document">
                <label for="docs">Documents</label><br>
                <input type="radio" id="img" name="rad_img" value="Image">
                <label for="img">Images</label><br>
                <input type="radio" id="vid" name="rad_vid" value="Video">
                <label for="vid">Videos</label><br>

                <input type="file" id="myfile" name="myfile" multiple> <br> <br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
