@using u20436310_HW03.Models;
@model List<FileModel>
@{
    ViewBag.Title = "Images";
}

<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        float: left;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    img {
        border-radius: 5px 5px 0 0;
    }
</style>
<h2>Images of any type</h2>

<h4>Stored in the ""~/Media/Images" folder</h4>

@foreach (var image in Model)
{

    <div class="card">

        <a id="@image.FileName" href="~/Media/Images/@image.FileName"><img class="card-img-top" src="~/Media/Images/@image.FileName" alt="Images" style="height:180px"></a>
        <div class="container">
            <h5>@image.FileName</h5>
            <button class="btn btn-success text-center">
                @Html.ActionLink("Download", "DownloadFile",
                 new { fileName = image.FileName })
            </button>
            <button class="btn btn-danger text-center">
                @Html.ActionLink("Delete", "DeleteFile",
               new { fileName = image.FileName },
               new { onclick = "return confirm('Are you sure you wish to delete this?');" })
            </button>
        </div>
    </div>
}
<br />
<script>
    $(document).ready(function ($) {
        $("a.group").fancybox({
            'width': '800px',
            'height': '286px',
            'autoScale': true,
            'transitionIn': 'fade',
            'transitionOut': 'fade',
            'type': 'image',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });
</script>
